body,ul,li,h1,h2,p,a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

body{
    background-color: black;
}
body section{
    background-color: #345444;
    margin: 13% auto;
    display: flex;
    position: relative;
    width: 900px;
    height: 450px;
    justify-content: start;
    align-items: start;
    border-radius: 4cap;
    margin-bottom: 50px;
}
section p{
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 200;
    text-align: center;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:fantasy;
    opacity: 40%;
    }
section div {
    background-color: blue;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    animation: follow 4s linear forwards infinite ;

}

@keyframes follow {
    0% { background-color: blue; transform: translateX(0) translateY(0); }
    25% { transform: translateX(820px) translateY(0); }
    50% { background-color: saddlebrown; transform: translateX(820px) translateY(370px) }
    75% { background-color: yellowgreen;  transform: translateX(0) translateY(370px); }
    100% { background-color: salmon;  transform: translateX(0) translateY(0); }
}
.github{
    display: block;
}
.github img{
    width: 4%;
    margin: 20px 50%;
}